<!-- Modal used in order to add a abonnement -->
<div class="modal fade" id="myModalInformation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ajouter une information</h4>
            </div>
            <div class="modal-body">
                {{ form_start(information) }}
                <div class="input-group">
                    {{ form_errors(information.title) }}
                    {{ form_label(information.title, 'Titre : :')}}
                    {{ form_widget(information.title, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="input-group">
                  {{ form_errors(information.body) }}
                  {{ form_label(information.body, 'Contenu : :')}}
                  {{ form_widget(information.body, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="input-group">
                  {{ form_errors(information.enabled) }}
                  {{ form_label(information.enabled, 'Contenu : :')}}
                  {{ form_widget(information.enabled, {'attr': {'class': 'form-control'}}) }}
                </div>
                <br>
                <button type="submit" class="btn btn-warning">Enregistrer</button>
                {{ form_end(information) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
