<!-- Modal used in order to add a note -->
<div class="modal fade" id="myModalNotes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Ajouter une note de suivi</h4>
            </div>
            <div class="modal-body">
                {{ form_start(note) }}
                <div class="input-group">
                    {{ form_errors(note.libelle) }}
                    {{ form_label(note.libelle, 'Contenu de la note') }}
                    {{ form_widget(note.libelle, {'attr': {'class': 'form-control'}}) }}
                </div>
                <br />
                <button type="submit" class="btn btn-warning">
                    Enregistrer
                </button>
                {{ form_end(note) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>