<!-- Modal used in order to add a abonnement -->
<div class="modal fade" id="myModalAbonnements" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ajouter un abonnement</h4>
            </div>
            <div class="modal-body">
                {{ form_start(abonnement) }}
                <div class="input-group">
                    {{ form_errors(abonnement.libelle) }}
                    {{ form_label(abonnement.libelle, 'Intitulé :')}}
                    {{ form_widget(abonnement.libelle, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="input-group">
                    {{ form_errors(abonnement.prix) }}
                    {{ form_label(abonnement.prix, 'Prix de l\'abonnement :')}}
                    {{ form_widget(abonnement.prix, {'attr': {'class': 'form-control'}}) }}
                </div>
                <br>
                <button type="submit" class="btn btn-warning">Enregistrer</button>
                {{ form_end(abonnement) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>