<!-- Modal used in order to add a path -->
<div class="modal fade" id="myModalParcours" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Gestion des parcours</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{ form_start(parcours) }}
                    <div class="input-group">
                        {{ form_errors(parcours.libelle) }}
                        {{ form_label(parcours.libelle, 'Nom du parcours')}}
                        {{ form_widget(parcours.libelle, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-warning">Enregistrer</button>
                    {{ form_end(parcours) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal used in order to add a financement -->
<div class="modal fade" id="myModalFinanceur" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Gestion des financeurs</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{ form_start(financeur) }}
                    <div class="input-group">
                        {{ form_errors(financeur.libelle) }}
                        {{ form_label(financeur.libelle, 'Nom du financeur')}}
                        {{ form_widget(financeur.libelle, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-warning">Enregistrer</button>
                    {{ form_end(financeur) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal used in order to add a path -->
<div class="modal fade" id="myModalPays" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Gestion des Pays</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{ form_start(pays) }}
                    <div class="input-group">
                        {{ form_errors(pays.libelle) }}
                        {{ form_label(pays.libelle, 'Nom du pays')}}
                        {{ form_widget(pays.libelle, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-warning">Enregistrer</button>
                    {{ form_end(pays) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal used in order to add a project -->
<div class="modal fade" id="myModalProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Gestion des Projet</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{ form_start(projet) }}
                    <div class="input-group">
                        {{ form_errors(projet.libelle) }}
                        {{ form_label(projet.libelle, 'Intitulé du projet')}}
                        {{ form_widget(projet.libelle, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                        {% for competences in projet.competences %}
                            {{ form_row(competences.libelle) }}
                        {% endfor %}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-warning">Enregistrer</button>
                    {{ form_end(projet) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal used in order to add a competences -->
<div class="modal fade" id="myModalCompetences" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Gestion des competences à valider</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{ form_start(competences) }}
                    <div class="input-group">
                        {{ form_errors(competences.libelle) }}
                        {{ form_label(competences.libelle, 'Intitulé de la compétence')}}
                        {{ form_widget(competences.libelle, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-warning">Enregistrer</button>
                    {{ form_end(competences) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>