<!-- Modal used in order to add a project -->
<div class="modal fade" id="myModalProjet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="myModalLabel">Ajouter un projet</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        {{ form_start(projet) }}
                        <div class="form-group">
                            {{ form_errors(projet.libelle) }}
                            {{ form_label(projet.libelle, 'Nom du projet :')}}
                            {{ form_widget(projet.libelle, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <br>
                        <button type="submit" class="btn btn-warning">Enregistrer</button>
                        {{ form_end(projet) }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>