<!-- Modal used in order to add a cours -->
<div class="modal fade" id="myModalCours" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="myModalLabel">Ajouter un cours</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        {{ form_start(cours) }}
                        <div class="form-group">
                            {{ form_errors(cours.libelle) }}
                            {{ form_label(cours.libelle, 'Nom du cours :')}}
                            {{ form_widget(cours.libelle, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(cours.duree) }}
                            {{ form_label(cours.duree, 'Duree du cours :')}}
                            {{ form_widget(cours.duree, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(cours.difficulty) }}
                            {{ form_label(cours.difficulty, 'Difficultée du cours :')}}
                            {{ form_widget(cours.difficulty, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <br>
                        <button type="submit" class="btn btn-flat btn-warning">Enregistrer</button>
                        {{ form_end(cours) }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
