<!-- Modal used in order to add a abonnement -->
<div class="modal fade" id="myModalAbonnement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Gestion des abonnements</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_start(abonnement) }}
                        <div class="form-group">
                            {{ form_errors(abonnement.libelle) }}
                            {{ form_label(abonnement.libelle, 'Intitulé :') }}
                            {{ form_widget(abonnement.libelle, {'attr': {'class': 'form-control center-align'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(abonnement.prix) }}
                            {{ form_label(abonnement.prix, 'Prix de l\'abonnement :')}}
                            {{ form_widget(abonnement.prix, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-flat btn-warning">Enregistrer</button>
                <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Annuler</button>
            </div>
            {{ form_end(abonnement) }}
        </div>
    </div>
</div>