<!-- Modal used in order to add a abonnement -->
<div class="modal fade" id="myModalCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ajouter un tutoriel</h4>
            </div>
            <div class="modal-body">
                {{ form_start(category) }}
                <div class="input-group">
                    {{ form_errors(category.name) }}
                    {{ form_label(category.name, 'Nom :')}}
                    {{ form_widget(category.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <br />
                <button type="submit" class="btn btn-flat btn-warning">Ajouter</button>
                {{ form_end(category) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
