{% extends 'Layout/admin.html.twig' %}

{% block title %} - Suivi des élèves{% endblock %}

{% block _side_admin %}
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header">NAVIGATION PRINCIPALE</li>
                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Les élèves</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <i class="fa fa-circle-o"></i>Trier les élèves (Parcours)
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <i class="fa fa-circle-o"></i>Trier les élèves (Financement)
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <i class="fa fa-circle-o"></i>Trier les élèves (Status)
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="header">LABELS</li>
                <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>A surveiller</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
            </ul>
        </section>
    </aside>
{% endblock %}

{% block admin_body %}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Liste des mentores</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Status</th>
                            <th>Durée de financement</th>
                            <th>Parcours suivi</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for mentores in mentores %}
                                <tr>
                                    <td>
                                        {{ mentores.lastname }}
                                    </td>
                                    <td>
                                        {{ mentores.firstname }}
                                    </td>
                                    <td>
                                        {% if mentores.status == 'En formation' %}
                                                <span class="label label-success">{{ mentores.status }}</span>
                                            {% elseif mentores.status == 'Contacté' %}
                                                <span class="label label-warning">{{ mentores.status }}</span>
                                            {% elseif mentores.status == 'En pause' %}
                                                <span class="label label-danger">{{ mentores.status }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ mentores.financement }}
                                    </td>
                                    <td>
                                        {{ mentores.parcours }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}