<div class="tab-pane" id="sessions">
    <!-- Suivi sessions -->
    <ul class="timeline timeline-inverse">
        {% for sessions in mentore.sessions|reverse %}
            <li class="time-label">
                                <span class="bg-red">
                                    {{ sessions.dateSession|date('d-m-Y H:i') }}
                                </span>
            </li>
            <li>
                <i class="ion ion-clock bg-yellow"></i>
                <div class="timeline-item">
                    <h3 class="timeline-header">
                        <a href="{{ path('show_details_mentor', {'id': sessions.mentor.id}) }}">
                            {{ sessions.mentor.firstname }} {{ sessions.mentor.lastname }}
                        </a>
                        a planifié une session
                    </h3>
                    <div class="timeline-body">
                        <strong>
                            {{ sessions.libelle }}
                        </strong>
                        <br />
                    </div>
                    <div class="timeline-footer">

                        {% include ':Elements/Box/Suivi:status.html.twig' %}

                        <br />
                        <br />
                        {% if sessions.mentor == app.user %}
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Action</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="{{ path('update_status_sessions', {'id': sessions.id, 'choice': 'Validation', 'mentore': sessions.mentore.id}) }}" class="ion-checkmark-circled">
                                            Valider la présence
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('update_status_sessions', {'id': sessions.id, 'choice': 'Annulation', 'mentore': sessions.mentore.id}) }}" class="ion-close-circled">
                                            Annuler la session
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('update_status_sessions', {'id': sessions.id, 'choice': 'Absent', 'mentore': sessions.mentore.id }) }}" class="ion-help-circled">
                                            Absence
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('update_status_sessions', {'id': sessions.id, 'choice': 'No Show', 'mentore': sessions.mentore.id}) }}" class="ion-alert-circled">
                                            No Show
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <br />
            </li>
        {% endfor %}
    </ul>
</div>
