{% extends "::layout_back_member.html.twig" %}
{% block fos_user_content %}
<div class="page-header page-header-block">
    <div class="container">
        <div class="page-header-section">
            <h4 class="title semibold">Editer mon profil</h4>
        </div>
        <div class="page-header-section">
            <div class="toolbar">
                <ol class="breadcrumb no-bg nm">
                    <li><a href="{{ path('index-application') }}">Accueil</a></li>
                    <li class="active">Edition du compte</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% include 'ShootngoUserBundle:Elements:menu-profil.html.twig' %}
            <div class="panel mb0">
                <div class="panel-heading">
                    <h3 class="panel-title">Photo de couverture</h3>
                </div>
                <div class="thumbnail">
                    <div class="media">
                        {% if(app.user.pathCover) %}
                            {% set runtimeConfig = {"thumbnail": {"size": [358, 177] }} %}
                            <img class="img-responsive" src="{{ asset(('img/uploads/covers-user/' ~ app.user.pathCover )  | imagine_filter('thumb_profile_cover', runtimeConfig)) }}" alt="Cover"/>
                        {% else %}
                            <img class="img-responsive" src="{{ asset('Common/img/frame-v1/background/800x395/bg-cover.jpg') }}" alt="Cover"/>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-body pa5">
                    <ul class="nav nav-stacked nm">
                        <li class="text-center">
                            <a href="#">
                                <h4 class="nm">{{ countFriends }}</h4>
                                <p class="nm text-muted">Amis</p>
                            </a>
                        </li>
                        <li class="text-center">
                            <a href="#">
                                <h4 class="nm">0</h4>
                                <p class="nm text-muted">Spots</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /.col-md-4 -->
        <div class="col-md-8">
            <div class="panel panel-no-border">
                <div class="panel-body">
                    {{ form_start(form, {'attr' : {'class' : 'form-horizontal form-bordered', 'data-parsley-validate' : 'data-parsley-validate'}}) }}
                        <div class="form-group mt-15">
                            <div class="col-sm-12 text-primary text-center mb5">
                                <i class="ico-smiley fsize32 text-success mr5 valign-middle"></i>
                                <p class="semibold mt5">Humeur du jour</p>
                            </div>
                            <div class="col-sm-6 col-sm-offset-3">
                                {{ form_errors(form.mood) }}
                                <div id="humor">
                                    {{ form_widget(form.mood,{'attr' : {'class' : 'form-control','name' : 'humor','placeholder' : "Entrer un message d'humeur... ou pas"}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group header bgcolor-primary">
                            <div class="col-md-12">
                                <h4 class="semibold">Informations personnelles</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Pseudo (public)<span class="text-danger">*</span></label>
                            <div class="col-sm-6">
                                {{ form_errors(form.pseudoPublic) }}
                                <div id="mail">
                                    {{ form_widget(form.pseudoPublic,{'attr' : {'class' : 'form-control', 'placeholder' : "", 'data-parsley-required' : 'data-parsley-required'}}) }}
                                </div>
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Catégories <span class="text-danger">*</span></label>
                        <div class="col-sm-6">
                            {{ form_errors(form.category) }}
                            <div id="mail">
                                {{ form_widget(form.category) }}
                            </div>
                        </div>
                    </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Photo</label>
                            <div class="col-sm-6">
                                {{ form_errors(form.path) }}
                                <div class="input-group">
                                    {{ form_widget(form.path,{"attr" : {"class" : "btn btn-primary btn-file"}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Photo de couverture</label>
                            <div class="col-sm-6">
                                {{ form_errors(form.pathCover) }}
                                <div class="input-group">
                                    {{ form_widget(form.pathCover,{"attr" : {"class" : "btn btn-primary btn-file"}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Adresse e-mail <span class="text-danger">*</span></label>
                            <div class="col-sm-6">
                                {{ form_errors(form.email) }}
                                <div id="mail">
                                    {{ form_widget(form.email,{'attr' : {'class' : 'form-control', 'placeholder' : "Ajouter ou modifier votre adresse email", 'data-parsley-required' : 'data-parsley-required'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Pays</label>
                            <div class="col-sm-6">
                                {{ form_errors(form.country) }}
                                <div id="country">
                                    {{ form_widget(form.country,{'attr' : {'class' : 'form-control','data-parsley-required' : 'data-parsley-required'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Nom <span class="text-danger">*</span></label>
                            <div class="col-sm-6">
                                {{ form_errors(form.lastname) }}
                                <div id="name">
                                    {{ form_widget(form.lastname,{'attr' : {'class' : 'form-control', 'placeholder' : 'Doe','data-parsley-required' : 'data-parsley-required'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Prénom <span class="text-danger">*</span></label>
                            <div class="col-sm-6">
                                {{ form_errors(form.firstname) }}
                                <div id="lastname">
                                    {{ form_widget(form.firstname,{'attr' : {'class' : 'form-control', 'placeholder' : 'John','data-parsley-required' : 'data-parsley-required'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Date de naissance</label>
                            <div class="col-sm-6">
                                {{ form_errors(form.birthday) }}
                                <div id="birth">
                                    {{ form_widget(form.birthday,{'attr' : {'class' : 'form-control', 'placeholder' : '01-01-1980', 'data-mask' : '99-99-9999'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sexe</label>
                            <div class="col-sm-6">
                                {{ form_errors(form.gender) }}
                                <div id="country">
                                    {{ form_widget(form.gender,{'attr' : {'class' : 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Code postal <span class="text-danger">*</span></label>
                            <div class="col-sm-6">
                                {{ form_errors(form.zipCode) }}
                                <div id="postal">
                                    {{ form_widget(form.zipCode,{'attr' : {'class' : 'form-control', 'placeholder' : 'Votre code postal','data-parsley-required' : 'data-parsley-required'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Ville <span class="text-danger">*</span></label>
                            <div class="col-sm-6">
                                {{ form_errors(form.city) }}
                                <div id="city">
                                    {{ form_widget(form.city,{'attr' : {'class' : 'form-control', 'placeholder' : 'Votre ville','data-parsley-required' : 'data-parsley-required'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group header bgcolor-primary">
                            <div class="col-md-12">
                                <h4 class="semibold">Informations de contact</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Mobile (Tél)</label>
                            <div class="col-sm-6">
                                {{ form_errors(form.mobile) }}
                                <div id="phone">
                                    {{ form_widget(form.mobile,{'attr' : {'class' : 'form-control', 'placeholder' : '07.99.99.99.99'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Travail (Tél)</label>
                            <div class="col-sm-6">
                                {{ form_errors(form.work) }}
                                <div id="work">
                                    {{ form_widget(form.work,{'attr' : {'class' : 'form-control', 'placeholder' : '01.99.99.99.99'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group header bgcolor-primary">
                            <div class="col-md-12">
                                <h4 class="semibold">Réseaux sociaux</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Facebook</label>
                            <div class="col-sm-6">
                                {{ form_errors(form.facebookPage) }}
                                <div id="fb">
                                    {{ form_widget(form.facebookPage,{'attr' : {'class' : 'form-control', 'placeholder' : 'fb.page.com/fr','data-parsley-type' : 'url','data-parsley-required' : 'data-parsley-required'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Portfolio</label>
                            <div class="col-sm-6">
                                {{ form_errors(form.website) }}
                                <div id="portfolio">
                                    {{ form_widget(form.website,{'attr' : {'class' : 'form-control','data-parsley-type' : 'url','placeholder' : 'www.portfolio.com'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group header bgcolor-primary">
                            <div class="col-md-12">
                                <h4 class="semibold">Autres informations</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Biographie</label>
                            <div class="col-sm-6">
                                {{ form_errors(form.description) }}
                                <div id="bio">
                                    {{ form_widget(form.description,{'attr' : {'class' : 'form-control', 'rows' : 8}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer mt0 text-right">
                            <button type="reset" class="btn btn-inverse">Réinitialiser</button>
                            <button type="submit" class="btn btn-success">Sauvegarder</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
{% block ckeditor %}
    <script>
        window.onload = function()
        {
            CKEDITOR.replace( 'shootngo_user_profile_description' );
        };
    </script>
    {# Voici le script en question : #}
    <script type="text/javascript">
        $(document).ready(function() {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#shootngo_user_profile_categories');

            // On ajoute un lien pour ajouter une nouvelle catégorie
            var $addLink = $('<a href="#" id="add_category" class="btn btn-default">Ajouter une catégorie</a>');
            $container.append($addLink);

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $addLink.click(function(e) {
                addCategory($container);
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index == 0) {
                addCategory($container);
            } else {
                // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            // La fonction qui ajoute un formulaire Categorie
            function addCategory($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Catégorie n°' + (index+1))
                        .replace(/__name__/g, index));

                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                // Création du lien
                $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien
                $deleteLink.click(function(e) {
                    $prototype.remove();
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });
    </script>
{% endblock ckeditor %}