{% extends "::layout_mentor.html.twig" %}

{% block fos_user_content %}
    <div class="row">
        {% if(app.user.available == false) %}
            <div class="col-md-12">
                <div class="alert alert-info">Vous êtes actuellement indisponible, vous ne pouvez donc pas avoir de soutenances, voire de nouveaux mentorés. Lorsque vous serez
                    de nouveau disponible, cliquez sur le bouton "Me rendre disponible" ! A bientôt !</div>
            </div>
        {% endif %}
        <div class="col-sm-12 col-md-3 col-lg-5">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="{{ asset('img/avatars/user-default.png') }}" alt="User profile picture">

                    <h3 class="profile-username text-center">{{ app.user.username | capitalize}}</h3>

                    <p class="text-muted text-center">
                        {% for roles in app.user.roles %}
                            {% for role in roles %}
                                {% if role[0] == "ROLE_MENTOR" %}
                                    Mentor
                                {% elseif role[0] == "ROLE_SUPERVISEUR_MENTOR" %}
                                    Superviseur
                                {% elseif role[0] == "ROLE_ADMIN" %}
                                    Administrateur
                                {% else %}
                                    Mentoré - Apprenant
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Mentorés</b> <a class="pull-right">{{ nbMentores }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Soutenances (2016)</b> <a class="pull-right">{{ nbSoutenances }}</a>
                        </li>
                    </ul>
                    <a href="{{ path('mon_profil_edit') }}"><button class="btn btn-flat btn-md btn-warning">Modifier mon profil</button></a>
                    {% if(app.user.available == true) %}
                        <a href="{{ path('mentor_indispo',{'id' : app.user.id }) }}"><button class="btn btn-flat btn-md btn-danger">Me rendre indisponible</button></a>
                    {% else %}
                        <a href="{{ path('mentor_dispo',{'id' : app.user.id }) }}"><button class="btn btn-flat btn-md btn-success">Me rendre disponible</button></a>
                    {% endif %}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">A propos</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-map-marker margin-r-5"></i> Lieu de résidence</strong>
                    <p class="text-muted">{{ app.user.city | capitalize }}, {{ app.user.country.libelle | capitalize }}</p>
                    <hr>
                    <strong><i class="fa fa-pencil margin-r-5"></i> Compétences</strong>
                    <p>
                        {% if app.user.competences %}
                            {% for competence in app.user.competences %}
                                {% for label in competence.libelle %}
                                    <span class="label label-warning">{{ label }}</span>
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            <span class="label label-danger">Aucune compétence n'est renseignée</span>
                        {% endif %}
                    </p>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-sm-12 col-md-9 col-lg-7">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">Historique d'activité</a></li>
                    <li><a href="#settings" data-toggle="tab">Paramètres du compte</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                        #TODO
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
{% endblock fos_user_content %}
