<div class="box-body">
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
            <tr>
                <th>Nom du parcours</th>
                <th>Niveau diplôme</th>
                {% if is_granted('ROLE_SUPERVISEUR_MENTOR') %}
                    <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for pathArchived in pathArchived %}
                <tr>
                    <td>
                        <b><a href="{{ path('show_parcours', {'id': pathArchived.id}) }}">{{ pathArchived.libelle }}</a></b>
                    </td>
                    <td>
                        {{ pathArchived.diplome }}
                    </td>
                    {% if is_granted('ROLE_SUPERVISEUR_MENTOR') %}
                        <td>
                            <a href="{{ path('update_parcours', {'id': pathArchived.id}) }}">
                                <button type="button" class="btn btn-flat btn-warning">Modifier <span class="ion ion-wrench"></span> </button>
                            </a>
                            <a type="button" class="btn btn-flat btn-danger" href="{{ path('out_archive_path', {'id': pathArchived.id }) }}">
                                Désarchiver <span class="ion ion-folder"></span>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>