<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <p class="user-txt-blanc">Bienvenue {{ app.user.username }}</p>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MENU PRINCIPAL</li>
            <li class="treeview {{ (controller == "mentore") ? "active" : "" }}">
                <a href="#">
                    <i class="ion ion-person-stalker"></i>
                    <span>Mes mentorés</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('en_attente') }}"><i class="fa fa-circle-o"></i> En attente</a></li>
                    <li><a href="{{ path('en_cours') }}"><i class="fa fa-circle-o"></i> En cours</a></li>
                    <li><a href="{{ path('mentorat_termine') }}"><i class="fa fa-circle-o"></i> Mentorat terminés</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>