<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MENU PRINCIPAL</li>
            <li class="{{ (controller == 'mentors') ? 'active' : '' }} treeview">
                <a href="#">
                    <i class="ion ion-person-stalker"></i>
                    <span>Les mentors</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('list_mentors') }}"><i class="fa fa-circle-o"></i> Liste des mentors</a></li>
                </ul>
            </li>
            <li class="{{ (controller == 'mentorat') ? 'active' : '' }} treeview">
                <a href="#">
                    <i class="ion ion-person-stalker"></i>
                    <span>Mes mentorés</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('en_attente') }}"><i class="fa fa-circle-o"></i> En attente</a></li>
                    <li><a href="{{ path('en_cours') }}"><i class="fa fa-circle-o"></i> En cours</a></li>
                    <li><a href="{{ path('mentorat_termine') }}"><i class="fa fa-circle-o"></i> Mentorat terminés</a></li>
                </ul>
            </li>
            <li class="{{ (controller == 'soutenances') ? 'active' : '' }} treeview">
                <a href="#">
                    <i class="ion ion-calendar"></i>
                    <span>Mes soutenances</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('soutenance_waiting') }}"><i class="fa fa-circle-o"></i> En attente</a></li>
                    <li><a href="{{ path('soutenance_done') }}"><i class="fa fa-circle-o"></i> Effectuées</a></li>
                </ul>
            </li>
            <li class="{{ (controller == 'infos') ? 'active' : '' }} treeview"><a href="{{ path('infos') }}"><i class='fa fa-info-circle'></i> <span>Informations mentorat</span></a></li>

            {% if is_granted('ROLE_MENTOR_EXPERIMENTE') %}

            <li class="{{ (controller == 'recrutement') ? 'active' : '' }} treeview">
                <a href="#">
                    <i class="ion ion-person-stalker"></i>
                    <span>Recrutement</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                  <li><a href="{{ path('recrutement_candidature') }}"><i class="fa fa-circle-o"></i>Candidatures mentorat</a></li>
                  <li><a href="{{ path('recrutement_formation') }}"><i class="fa fa-circle-o"></i>Mentors en formation</a></li>
                </ul>
            </li>
            {% endif %}

            {% if is_granted('ROLE_MENTOR_DEBUTANT') %}
            <li class="{{ (controller == 'formation') ? 'active' : '' }} treeview"><a href="{{ path('mentorat_formation_index') }}"><i class='fa fa-level-up'></i> <span>Ma formation</span></a></li>
            {% elseif is_granted('ROLE_ADMIN') %}
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i>
                        <span>Backend</span>
                        <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('home_backend') }}"><i class="fa fa-circle-o"></i>Accès au backend</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-lock"></i>
                        <span>Administration</span>
                        <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('home_admin') }}"><i class="fa fa-circle-o"></i>Accès à l'administration</a></li>
                    </ul>
                </li>

                {% elseif is_granted('ROLE_SUPERVISEUR_MENTOR') %}
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i>
                            <span>Administration</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('home_backend') }}"><i class="fa fa-circle-o"></i>Accès au backend</a></li>
                        </ul>
                    </li>
            {% endif %}
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
