{% extends ':BackBundle/Layout:admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block admin_body %}
    <div class="row">
        <div class="col-xs-12">
            {% for message in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-check"></i>Information</h4>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="row-fluid">
            <div class="col-md-3">
                <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="ion ion-ios-clock-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Elèves en attente</span>
                        <span class="info-box-number">{{ mentoresWaiting|length }}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="ion ion-checkmark"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Projets terminés</span>
                        <span class="info-box-number">{{ projets|length }}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="ion ion-stats-bars"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Sessions annulées</span>
                        <span class="info-box-number">{{ sessions|length }}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-box bg-aqua">
                    <span class="info-box-icon"><i class="ion-document-text"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Notes de suivi</span>
                        <span class="info-box-number">{{ notes|length }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-default"><i class="ion ion-person-stalker"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Soutenances prévues</span>
                    <span class="info-box-number">{{ soutenances|length }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-default"><i class="ion ion-monitor"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Parcours disponibles</span>
                    <span class="info-box-number">{{ parcours|length }}</span>
                </div>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-default"><i class="ion ion-person"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">MENTORS</span>
                    <span class="info-box-number">{{ mentors|length }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-default"><i class="ion ion-ios-people-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">ELEVES</span>
                    <span class="info-box-number">{{ mentores|length }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Derniers mentors inscrits</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                {% include 'BackBundle/Elements/box_mentors.html.twig' %}

                <div class="box-footer clearfix">
                    <a href="{{ path('gestion_mentors') }}" class="btn btn-sm btn-default btn-flat pull-right">Voir tout les mentors</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Derniers mentorés inscrits</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                {% include ':BackBundle/Elements:box_mentores.html.twig' %}

                <div class="box-footer clearfix">
                    <a href="{{ path('gestion_mentores') }}" class="btn btn-sm btn-default btn-flat pull-right">Voir tout les mentores</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

