{% extends "base.html.twig" %}

{% block title %} - Administration{% endblock %}

{% block body %}
    <div class="hold-transition skin-red sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <a href="{{ path('home_admin') }}" class="logo">
                    <span class="logo-mini">ZBoard</span>
                    <span class="logo-lg">ZBoard</span>
                </a>
                <nav class="navbar navbar-static-top">
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Show the notifications -->

                            {% include ':Elements/Navbar:notifications.html.twig' %}

                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{{ asset('img/avatars/user-default.png') }}" class="user-image" alt="User Image">
                                    <span class="hidden-xs">{{ app.user.username }}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="user-header">
                                        <img src="{{ asset('img/avatars/user-default.png') }}" class="img-circle" alt="User Image">
                                        <p>{{ app.user.username }}</p>
                                    </li>
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="{{ path('show_details_mentor', {'id': app.user.id}) }}" class="btn btn-default btn-flat">Mon profil</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Déconnexion</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            {% block _side_admin %}
                <aside class="main-sidebar">
                    <section class="sidebar">
                        <ul class="sidebar-menu">
                            <li class="header">NAVIGATION PRINCIPALE</li>
                            <li class="{{ (controller == "users_admin")? "active" : "" }} treeview">
                                <a href="#">
                                    <i class="fa fa-users"></i> <span>Utilisateurs de ZBoard</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ path('gestion_users_admin') }}"><i class="fa fa-circle-o"></i>Gestion des utilisateurs</a></li>
                                </ul>
                            </li>
                            <li class="{{ (controller == "statistiques")? "active" : "" }} treeview">
                                <a href="#">
                                    <i class="fa fa-bar-chart"></i> <span>Statistiques de ZBoard</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i>Utilisateurs</a></li>
                                    <li><a href="#"><i class="fa fa-circle-o"></i>Fonctionnalités</a></li>
                                </ul>
                            </li>
                            <li class="{{ (controller == "cms")? "active" : "" }} treeview">
                                <a href="#">
                                    <i class="fa fa-file"></i> <span>Gestion du contenu</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ path('gestion_country') }}"><i class="fa fa-circle-o"></i>Gestion des pays</a></li>
                                    <li><a href="#"><i class="fa fa-circle-o"></i>Gestion des parcours</a></li>
                                </ul>
                            </li>
                            <li class="{{ (controller == "archives")? "active" : "" }} treeview">
                                <a href="#">
                                    <i class="fa fa-folder-open-o"></i>
                                    <span>Les archives</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ path('home_archives') }}"><i class="fa fa-circle-o"></i>Gestion des archives</a></li>
                                </ul>
                            </li>
                            <li class="{{ (controller == "habilitations")? "active" : "" }} treeview">
                                <a href="#">
                                    <i class="fa fa-lock"></i> <span>Gestion des habilitations</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ path('gestion_habilitations') }}"><i class="fa fa-circle-o"></i>Liste des habilitations</a></li>
                                </ul>
                            </li>
                            <li class="{{ (controller == "abonnements")? "active" : "" }} treeview">
                                <a href="#">
                                    <i class="fa fa-money"></i> <span>Abonnements</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ path('gestion_abonnements') }}"><i class="fa fa-circle-o"></i>Gestion des abonnements</a></li>
                                </ul>
                            </li>
                            <li class="{{ (controller == "facturation")? "active" : "" }} treeview">
                                <a href="#">
                                    <i class="fa fa-credit-card"></i> <span>Facturation</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i>Gestion de la facturation</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-dashboard"></i>
                                    <span>Backend</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ path('home_backend') }}"><i class="fa fa-circle-o"></i>Accès au backend</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-user"></i>
                                    <span>Dashboard</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ path('mentorat_dashboard_index') }}"><i class="fa fa-circle-o"></i>Accès au dashboard</a></li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                </aside>
            {% endblock %}
            <div class="content-wrapper">
                <section class="content">
                    {% block admin_body %}
                    {% endblock %}
                </section>
            </div>
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 0.1
                </div>
                <strong>Copyright &copy; 2016 <a href="#">ZBoard Team</a>.</strong> Tous droits réservés.
            </footer>
            <div class="control-sidebar-bg"></div>
        </div>
    </div>
{% endblock %}
