<div class="box-body">
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Pays</th>
                <th>Statut</th>
                <th>Nombre d'élèves</th>
                <th>Compétences</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for mentors in mentors %}
                <tr>
                    <td>
                        <a href="{{ path('show_details_mentor', {'id': mentors.id}) }}">{{ mentors.lastname }}</a>
                    </td>
                    <td>
                        {{ mentors.firstname }}
                    </td>
                    <td>
                        {{ mentors.country.libelle }}
                    </td>
                    <td>
                        {% if mentors.available == true %}
                            <span class="label label-success">Disponible</span>
                        {% else %}
                            <span class="label label-danger">Indisponible</span>
                        {% endif %}
                    </td>
                    <td>
                        {{ mentors.suivi|length }}
                    </td>
                    <td>
                        {% for competences in mentors.competences %}
                            <span class="label label-info">{{ competences.libelle }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('update_mentors', {'id': mentors.id}) }}">
                            <button type="button" class="btn btn-flat btn-warning">Modifier <span class="ion ion-wrench"></span> </button>
                        </a>
                        {% if mentors.archived == false %}
                            <a type="button" class="btn btn-flat btn-danger" href="{{ path('archive_mentor', {'id': mentors.id}) }}">
                                Archiver <span class="ion ion-folder"></span>
                            </a>
                        {% endif %}
                        {% if mentors.enabled == false %}
                            <a href="{{ path('security_validate_user', {'id': mentors.id}) }}">
                                <button type="button" class="btn btn-flat btn-success">Activer <span class="ion ion-wrench"></span> </button>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>