<div class="box-body">
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
            <tr>
                <th>Nom de l'élève</th>
                <th>Nom du mentor</th>
                <th>Date de création</th>
                <th>Projet</th>
                <th>Statut</th>
                {% if is_granted('ROLE_SUPERVISEUR_MENTOR') %}
                    <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for soutenances in soutenances %}
                <tr>
                    <td>
                        {{ soutenances.mentore.firstname }} {{ soutenances.mentore.lastname }}
                    </td>
                    <td>
                        {{ soutenances.mentor.firstname }} {{ soutenances.mentor.lastname }}
                    </td>
                    <td>
                        {{ soutenances.passedAt|date("d-M-Y", "Europe/Paris") }}
                    </td>
                    <td>
                        {{ soutenances.projet.libelle }}
                    </td>
                    <td>
                        {% if soutenances.status == 'En attente' %}
                            <span class="label label-warning">{{ soutenances.status }}</span>
                        {% elseif soutenances.status == 'En cours' %}
                            <span class="label label-success">{{ soutenances.status }}</span>
                        {% elseif soutenances.status == 'Validé' %}
                            <span class="label label-success">{{ soutenances.status }}</span>
                        {% elseif soutenances.status == 'A revoir' %}
                            <span class="label label-danger">{{ soutenances.status }}</span>
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_SUPERVISEUR_MENTOR') %}
                        <td>
                            <a href="{{ path('update_soutenances', {'id': soutenances.id}) }}">
                                <button type="button" class="btn btn-flat btn-warning">Modifier <span class="ion ion-wrench"></span> </button>
                            </a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>