<div class="box-body">
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Statut</th>
                <th>Mentor actuel</th>
                <th>Date de commencement</th>
                <th>Durée de financement</th>
                <th>Parcours suivi</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for mentores in mentores %}
                <tr>
                    <td>
                        <a href="{{ path('show_details_mentore', {'id': mentores.id}) }}">{{ mentores.lastname }}</a>
                    </td>
                    <td>
                        {{ mentores.firstname }}
                    </td>

                    {% include ':Elements/Box/Mentores:suivi.html.twig' %}

                    <td>
                        <a href="{{ path('show_details_mentor', {'id': mentores.suivi.mentor.id}) }}">
                            {{ mentores.suivi.mentor.firstname }} {{ mentores.suivi.mentor.lastname }}
                        </a>
                    </td>
                    <td>
                       {{ mentores.suivi.dateStart|date('d-m-Y') }}
                    </td>
                    <td>
                        {% if mentores.suivi.dureeFinancement is null %}
                            <p>Non financé</p>
                        {% else %}
                            <span class="label label-primary">{{ mentores.suivi.dureeFinancement }}</span>
                        {% endif %}
                    </td>
                    {% if mentores.suivi.parcours is empty %}
                            <td>
                                Aucun parcours lié
                            </td>
                        {% else %}
                            <td>
                                {{ mentores.suivi.parcours.libelle }}
                            </td>
                    {% endif %}

                    {% include ':Elements/Box/Mentores:outils.html.twig' %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
