<div class="box-body">
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Statut</th>
                <th>Mentor actuel</th>
                <th>Date de commencement</th>
                <th>Durée de financement</th>
                <th>Parcours suivi</th>
                {% if is_granted('ROLE_SUPERVISEUR_MENTOR') %}
                    <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for mentores in mentores %}
                <tr>
                    <td>
                        <a href="{{ path('show_details_mentore', {'id': mentores.id}) }}">{{ mentores.lastname }}</a>
                    </td>
                    <td>
                        {{ mentores.firstname }}
                    </td>
                    <td>
                        {% if mentores.suivi.mentoreStatus is empty %}
                            <p>Aucun statut actuel</p>
                        {% else %}
                            {% if mentores.suivi.mentoreStatus == 'En formation' %}
                                <span class="label label-success">{{ mentores.suivi.mentoreStatus }}</span>
                            {% elseif mentores.suivi.mentoreStatus == 'Contacté' %}
                                <span class="label label-warning">{{ mentores.suivi.mentoreStatus }}</span>
                            {% elseif mentores.suivi.mentoreStatus == 'En pause' %}
                                <span class="label label-danger">{{ mentores.suivi.mentoreStatus }}</span>
                            {% elseif mentores.suivi.mentoreStatus == 'En attente' %}
                                <span class="label label-warning">{{ mentores.suivi.mentoreStatus }}</span>
                            {% elseif mentores.suivi.mentoreStatus == 'Formation terminé' %}
                                <span class="label label-success">{{ mentores.suivi.mentoreStatus }}</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('show_details_mentor', {'id': mentores.suivi.mentor.id}) }}">
                            {{ mentores.suivi.mentor.firstname }} {{ mentores.suivi.mentor.lastname }}
                        </a>
                    </td>
                    <td>
                       {{ mentores.suivi.dateStart|date('d-m-Y') }}
                    </td>
                    <td>
                        {% if mentores.suivi.dureeFinancement is null %}
                            <p>Non financé</p>
                        {% else %}
                            <span class="label label-primary">{{ mentores.suivi.dureeFinancement }}</span>
                        {% endif %}
                    </td>
                    {% if mentores.suivi.parcours is empty %}
                            <td>
                                Aucun parcours lié
                            </td>
                        {% else %}
                            <td>
                                {{ mentores.suivi.parcours.libelle }}
                            </td>
                    {% endif %}
                    {% if is_granted('ROLE_SUPERVISEUR_MENTOR') %}
                        <td>
                            <a href="{{ path('update_mentores', {'id': mentores.id}) }}">
                                <button type="button" class="btn btn-flat btn-warning">Modifier <span class="ion ion-wrench"></span> </button>
                            </a>
                            {% if mentores.archived == true %}
                                    <a type="button" class="btn btn-flat btn-danger" href="{{ path('out_archive_mentore', {'id': mentores.id}) }}">
                                        Désarchiver <span class="ion ion-folder"></span>
                                    </a>
                                {% else %}
                                    <a type="button" class="btn btn-flat btn-danger" data-toggle="modal" data-target="#myModalArchivageStudent">
                                        Archiver <span class="ion ion-folder"></span>
                                    </a>

                                    {% include ':BackBundle/Action/Archivage:archivage_mentore.html.twig' %}

                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>