<div class="box-body">
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
            <tr>
                <th>Nom de l'élève</th>
                <th>Nom du mentor</th>
                <th>Date de passage</th>
                <th>Projet</th>
                <th>Statut</th>
            </tr>
            </thead>
            <tbody>
                {% for soutenances in soutenances %}
                <tr>
                    <td>
                        {{ soutenances.mentore.lastname }}
                    </td>
                    <td>
                        {{ soutenances.mentor.lastname }}
                    </td>
                    <td>
                        {{ soutenances.passedAt|date("d-M-Y", "Europe/Paris") }}
                    </td>
                    <td>
                        {{ soutenances.projet }}
                    </td>
                    <td>
                        {% if soutenances.status == 'En attente' %}
                            <span class="label label-warning">{{ soutenances.status }}</span>
                        {% elseif soutenances.status == 'En cours' %}
                            <span class="label label-warning">{{ soutenances.status }}</span>
                        {% elseif soutenances.status == 'Validé' %}
                            <span class="label label-success">{{ soutenances.status }}</span>
                        {% elseif soutenances.status == 'A revoir' %}
                            <span class="label label-danger">{{ soutenances.status }}</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>