<div class="box-body">
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
            <tr>
                <th>Nom du parcours</th>
                <th>Niveau diplôme</th>
                <th>Nombres d'élèves inscrits</th>
                {% if is_granted('ROLE_SUPERVISEUR_MENTOR') %}
                    <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for path in path %}
                <tr>
                    <td>
                        <b><a href="{{ path('show_parcours', {'id': path.id}) }}">{{ path.libelle }}</a></b>
                    </td>
                    <td>
                        {{ path.diplome }}
                    </td>
                    <td>
                        {{ path.suivi|length }}
                    </td>
                    {% if is_granted('ROLE_OC') %}
                        <td>
                            <a href="{{ path('update_parcours', {'id': path.id}) }}">
                                <button type="button" class="btn btn-flat btn-warning">Modifier <span class="ion ion-wrench"></span> </button>
                            </a>
                            <a type="button" class="btn btn-flat btn-danger" href="{{ path('archive_path', {'id': path.id}) }}">
                                Archiver <span class="ion ion-folder"></span>
                            </a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
