<div class="box-body">
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Statut</th>
                <th>Mentor actuel</th>
                <th>Date de commencement</th>
                <th>Durée de financement</th>
                <th>Parcours suivi</th>
                <th>Outils</th>
            </tr>
            </thead>
            <tbody>
            {% for mentores in mentores %}
                <tr>
                    <td>
                        <a href="{{ path('show_details_mentore', {'id': mentores.id}) }}">{{ mentores.lastname }}</a>
                    </td>
                    <td>
                        {{ mentores.firstname }}
                    </td>
                    <td>
                        {% if mentores.status == 'En formation' %}
                            <span class="label label-success">{{ mentores.status }}</span>
                        {% elseif mentores.status == 'Contacté' %}
                            <span class="label label-warning">{{ mentores.status }}</span>
                        {% elseif mentores.status == 'En pause' %}
                            <span class="label label-danger">{{ mentores.status }}</span>
                        {% elseif mentores.status == 'En attente' %}
                            <span class="label label-warning">{{ mentores.status }}</span>
                        {% elseif mentores.status == 'Formation terminé' %}
                            <span class="label label-success">{{ mentores.status }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {{ mentores.suivi.mentor }}
                    </td>
                    <td>
                       {{ mentores.dateStart|date('d-m-Y') }}
                    </td>
                    <td>
                        {% if mentores.dureeFinancement is null %}
                            <p>Non financé</p>
                        {% else %}
                            <span class="label label-primary">{{ mentores.dureeFinancement }}</span>
                        {% endif %}
                    </td>
                    <td>
                    </td>
                    <td>
                        <a href="{{ path('update_mentores', {'id': mentores.id}) }}"><span class="ion ion-wrench"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>