{% extends "base.html.twig" %}

{% block title %} - Administration{% endblock %}

{% block body %}
    <div class="hold-transition skin-red sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <a href="{{ path('home_admin') }}" class="logo">
                    <span class="logo-mini">ZBoard</span>
                    <span class="logo-lg">ZBoard</span>
                </a>
                <nav class="navbar navbar-static-top">
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-warning">10</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">Vous avez .. notifications en attente</li>
                                    <li>
                                        <ul class="menu">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                    page and may cause design problems
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-red"></i> 5 new members joined
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-user text-red"></i> You changed your username
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">View all</a></li>
                                </ul>
                            </li>
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                    <span class="hidden-xs">{{ app.user.username }}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="user-header">
                                        <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                        <p>
                                            {{ app.user.username }} - Responsable des mentors OC
                                            <small>Member since Nov. 2012</small>
                                        </p>
                                    </li>
                                    <li class="user-body">
                                        <div class="row">
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Compte</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Compétences</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="{{ path('fos_user_profile_show') }}">Profil</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="user-footer">
                                        <div class="pull-right">
                                            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Se déconnecter</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            {% block _side_admin %}
                <aside class="main-sidebar">
                    <section class="sidebar">
                        <ul class="sidebar-menu">
                            <li class="header">NAVIGATION PRINCIPALE</li>
                            <li class="{{ (controller == "users_admin")? "active" : "" }} treeview">
                                <a href="#">
                                    <i class="fa fa-users"></i> <span>Utilisateurs de ZBoard</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ path('gestion_users_admin') }}"><i class="fa fa-circle-o"></i>Gestion des utilisateurs</a></li>
                                </ul>
                            </li>
                            <li class="{{ (controller == "statistiques")? "active" : "" }} treeview">
                                <a href="#">
                                    <i class="fa fa-bar-chart"></i> <span>Statistiques de ZBoard</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i>Utilisateurs</a></li>
                                    <li><a href="#"><i class="fa fa-circle-o"></i>Fonctionnalités</a></li>
                                </ul>
                            </li>
                            <li class="{{ (controller == "cms")? "active" : "" }} treeview">
                                <a href="#">
                                    <i class="fa fa-file"></i> <span>Gestion du contenu</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i>Gestion des pays</a></li>
                                </ul>
                            </li>
                            <li class="{{ (controller == "habilitations")? "active" : "" }} treeview">
                                <a href="#">
                                    <i class="fa fa-lock"></i> <span>Gestion des habilitations</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i>Liste des habilitations</a></li>
                                </ul>
                            </li>
                            <li class="{{ (controller == "abonnements")? "active" : "" }} treeview">
                                <a href="#">
                                    <i class="fa fa-money"></i> <span>Abonnements</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i>Gestion des abonnements</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-dashboard"></i>
                                    <span>Accès au site</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ path('home_backend') }}"><i class="fa fa-circle-o"></i>Accès au backend</a></li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                </aside>
            {% endblock %}
            <div class="content-wrapper">
                <section class="content">
                    {% block admin_body %}
                    {% endblock %}
                </section>
            </div>
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 0.1
                </div>
                <strong>Copyright &copy; 2016 <a href="http://almsaeedstudio.com">Zboard Team</a>.</strong> Tous droits réservés.
            </footer>
            <div class="control-sidebar-bg"></div>
        </div>
    </div>
{% endblock %}