{% extends ':AdminBundle/Layout:administration.html.twig' %}

{% block title %} - Pays{% endblock %}

{% block admin_body %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            {% for message in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-check"></i>Information</h4>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="well">
                <button type="button" class="btn btn-flat btn-warning" data-toggle="modal" data-target="#myModalCountry">
                    Ajouter un pays
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Liste des pays disponibles sur Zboard</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Nom du pays</th>
                                <th>Membre étant lié à ce pays</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for countrys in countrys %}
                                <tr>
                                    <td>
                                        {{ countrys.libelle }}
                                    </td>
                                    <td>
                                        {{ countrys.users|length }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal used in order to add a country -->
    <div class="modal fade" id="myModalCountry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="myModalLabel">Ajouter un pays</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            {{ form_start(country) }}
                            <div class="form-group">
                                {{ form_errors(country.libelle) }}
                                {{ form_label(country.libelle, 'Nom du pays') }}
                                {{ form_widget(country.libelle, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <br />
                            <button type="submit" class="btn btn-flat btn-warning">
                                Enregistrer
                            </button>
                            {{ form_end(country) }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}