<div class="box-body">
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for mentores in mentores %}
                <tr>
                    <td>
                        <b><a href="{{ path('show_details_mentore', {'id': mentores.id}) }}">{{ mentores.lastname }}</a></b>
                    </td>
                    <td>
                        {{ mentores.firstname }}
                    </td>
                    <td>
                        <a href="{{ path('update_mentores', {'id': mentores.id}) }}">
                            <button type="button" class="btn btn-flat btn-warning">Modifier <span class="ion ion-wrench"></span> </button>
                        </a>
                        <a type="button" class="btn btn-flat btn-danger" href="{{ path('out_archive_mentore', {'id': mentores.id }) }}">
                            Désarchiver <span class="ion ion-folder"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>