{% extends 'base.html.twig' %}

{% block body %}
<div class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="{{ path('home_backend') }}" class="logo">
                <span class="logo-mini">ZBoard</span>
                <span class="logo-lg">ZBoard</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Show the notifications -->
                        {% include ':Elements/Navbar:notifications.html.twig' %}

                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ asset('img/avatars/user-default.png') }}" class="user-image" alt="User Image">
                                <span class="hidden-xs">{{ app.user.username }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="{{ asset('img/avatars/user-default.png') }}" class="img-circle" alt="User Image">
                                    <p>{{ app.user.username }}</p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="{{ path('mon_profil') }}" class="btn btn-default btn-flat">Mon profil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Déconnexion</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        {% block _side_admin %}
            <aside class="main-sidebar">
                <section class="sidebar">
                    <ul class="sidebar-menu">
                        <li class="header">NAVIGATION PRINCIPALE</li>
                        <li class="{{ (controller == "users")? "active" : "" }} treeview">
                            <a href="#">
                                <i class="fa fa-users"></i> <span>Utilisateurs ZBoard</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{{ path('gestion_mentors') }}"><i class="fa fa-circle-o"></i>Gestion des mentors</a></li>
                                <li><a href="{{ path('gestion_mentores') }}"><i class="fa fa-circle-o"></i>Gestion des élèves</a></li>
                            </ul>
                        </li>
                        <li class="{{ (controller == "soutenances")? "active" : "" }} treeview">
                            <a href="#">
                                <i class="fa fa-calendar"></i>
                                <span>Les soutenances</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{{ path('gestion_soutenances') }}"><i class="fa fa-circle-o"></i>Gestion des soutenances</a></li>
                            </ul>
                        </li>
                        {% if is_granted('ROLE_OC') %}
                            <li class="{{ (controller == "parcours")? "active" : "" }} treeview">
                                <a href="#">
                                    <i class="fa fa-tasks"></i>
                                    <span>Les parcours</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ path('gestion_parcours') }}"><i class="fa fa-circle-o"></i>Gestion des parcours</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        <li class="{{ (controller == 'settings') ? 'active' : '' }} treeview"><a href="{{ path('settings') }}"><i class='fa fa-info-circle'></i> <span>Paramètres</span></a></li>

                        <li class="{{ (controller == "cms")? "active" : "" }} treeview">
                            <a href="#">
                                <i class="fa fa-laptop"></i>
                                <span>Contenu du Zboard</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{{ path('mentorat_tutoriels_index') }}"><i class="fa fa-circle-o"></i>Liste des tutoriels</a></li>
                                <li><a href="{{ path('mentorat_infos_index') }}"><i class="fa fa-circle-o"></i>Informations mentorat</a></li>
                            </ul>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-lock"></i>
                                    <span>Administration</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ path('home_admin') }}"><i class="fa fa-circle-o"></i>Accès à l'administration</a></li>
                                    <li><a href="{{ path('mentorat_dashboard_index') }}"><i class="fa fa-circle-o"></i>Accès au dashboard</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        <li class="header">LABELS</li>
                        <li><a><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                        <li><a><i class="fa fa-circle-o text-yellow"></i> <span>A surveiller</span></a></li>
                        <li><a><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
                    </ul>
                </section>
            </aside>
        {% endblock %}
        <div class="content-wrapper">
            <section class="content">
                {% block admin_body %}
                {% endblock %}
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 0.1
            </div>
            <strong>Copyright &copy; 2016 <a href="http://almsaeedstudio.com">Zboard Team</a>.</strong> Tous droits réservés.
        </footer>
        <div class="control-sidebar-bg"></div>
    </div>
</div>
{% endblock %}
