{% extends ':AdminBundle/Layout:administration.html.twig' %}

{% block title %} - Archives{% endblock %}

{% block admin_body %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Liste des mentors archivés</h3>
                </div>

                {% include ':Elements/Box:box_mentors.html.twig' %}

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Liste des élèves archivés</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for mentores in mentores %}
                                <tr>
                                    <td>
                                        <b><a href="{{ path('show_details_mentore', {'id': mentores.id}) }}">{{ mentores.lastname }}</a></b>
                                    </td>
                                    <td>
                                        {{ mentores.firstname }}
                                    </td>
                                    <td>
                                        <a href="{{ path('update_mentores', {'id': mentores.id}) }}">
                                            <button type="button" class="btn btn-flat btn-warning">Modifier <span class="ion ion-wrench"></span> </button>
                                        </a>
                                        <a type="button" class="btn btn-flat btn-danger" href="{{ path('out_archive_mentore', {'id': mentores.id }) }}">
                                            Désarchiver <span class="ion ion-folder"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Liste des parcours archivés</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Nom du parcours</th>
                                <th>Niveau diplôme</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for path in path %}
                                <tr>
                                    <td>
                                        <b><a href="{{ path('show_parcours', {'id': path.id}) }}">{{ path.libelle }}</a></b>
                                    </td>
                                    <td>
                                        {{ path.diplome }}
                                    </td>
                                    <td>
                                        <a href="{{ path('update_parcours', {'id': path.id}) }}">
                                            <button type="button" class="btn btn-flat btn-warning">Modifier <span class="ion ion-wrench"></span> </button>
                                        </a>
                                        <a type="button" class="btn btn-flat btn-danger" href="{{ path('out_archive_path', {'id': path.id }) }}">
                                            Désarchiver <span class="ion ion-folder"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}