{% extends ':AdminBundle/Layout:administration.html.twig' %}

{% block title %} - Roles{% endblock %}

{% block admin_body %}

    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i>Information</h4>
            {{ message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-xs-12 col-md-offset-4 col-md-4">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <h3 class="profile-username text-center">Modifier le role d'un Mentor</h3>
                    <br />
                    <hr />
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            {{ form_start(user) }}
                            {% for roles in user.roles %}
                                <div class="form-group">
                                    {{ form_errors(roles) }}
                                    {{ form_label(roles, 'Roles actuel :')}}
                                    {{ form_widget(roles, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            {% endfor %}
                        </div>
                        <hr />
                        <p class="text-center">
                            Le second rôle est un rôle hérité, par défaut, tout utilisateur hérite
                            du rôle User.
                        </p>
                        <br />
                        <div class="text-center">
                            <input class="btn btn-flat btn-warning" type="submit" value="Enregistrer" />
                            <a href="{{ path('gestion_habilitations') }}" class="btn btn-flat btn-default">Annuler</a>
                        </div>
                        {{ form_end(user) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
