{% extends 'layout_mentor.html.twig' %}

{% block title %} - {{ mentore.lastname }} {{ mentore.firstname }}{% endblock %}

{% block body %}

    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i>Information</h4>
            {{ message }}
        </div>
    {% endfor %}

    <div class="content-wrapper">
        <section class="content">
                <div class="row">
                    <div class="col-md-6 col-lg-pull-2 col-lg-5">
                        <div class="box box-primary">
                            <div class="box-body box-profile">
                                <img class="profile-user-img img-responsive img-circle" src="{{ asset('img/avatars/user-default.png') }}" alt="User profile picture">
                                <h3 class="profile-username text-center"><p>{{ mentore.firstname }} {{ mentore.lastname }}</p></h3>
                                <p class="text-muted text-center">{{ mentore.suivi.parcours.libelle }}</p>
                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item">
                                        <b>Statut : </b>

                                        {% if mentore.suivi.mentoreStatus == 'En formation' %}
                                            <p class="pull-right label label-success">{{ mentore.suivi.mentoreStatus }}</p>
                                        {% elseif mentore.suivi.mentoreStatus == 'Contacté' %}
                                            <p class="pull-right label label-warning">{{ mentore.status }}</p>
                                        {% elseif mentore.suivi.mentoreStatus == 'En pause' %}
                                            <p class="pull-right label label-danger">{{ mentore.suivi.mentoreStatus }}</p>
                                        {% elseif mentore.suivi.mentoreStatus == 'En attente' %}
                                            <p class="pull-right label label-warning">{{ mentore.suivi.mentoreStatus }}</p>
                                        {% elseif mentore.suivi.mentoreStatus == 'Formation terminé' %}
                                            <p class="pull-right label label-success">{{ mentore.suivi.mentoreStatus }}</p>
                                        {% endif %}
                                    </li>
                                    <li class="list-group-item">
                                        <b>Financement : </b>
                                        <p class="pull-right">
                                            {% if mentore.suivi.financement == false %}
                                                    Non financé
                                                {% else %}
                                                    {{ mentore.suivi.financeur }} {{ mentore.suivi.dureeFinancement }}
                                            {% endif %}
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Date commencement : </b> <p class="pull-right">{{ mentore.suivi.dateStart|date('d-M-y') }}</p>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Mentor actuel : </b> <p class="pull-right">{{ mentore.suivi.mentor.firstname }} {{ mentore.suivi.mentor.lastname }}</p>
                                    </li>
                                </ul>
                                {% if is_granted('ROLE_SUPERVISEUR_MENTOR') or mentore.suivi.mentor == app.user %}
                                    <a href="#" class="btn btn-flat btn-primary btn-block"><b>Contacter</b></a>
                                    <a href="#" class="btn btn-flat btn-warning btn-block" data-toggle="modal" data-target="#myModalNotes"><b>Ecrire une note de suivi</b></a>
                                    <a href="#" class="btn btn-flat btn-warning btn-block" data-toggle="modal" data-target="#myModalSessions"><b>Planifier une session</b></a>
                                    <a href="{{ path('transfert_mentore', {'id': mentore.id }) }}" class="btn btn-flat btn-warning btn-block">Changer de mentor</a>
                                    <a href="#" class="btn btn-flat btn-warning btn-block" data-toggle="modal" data-target="#myModalSoutenances">Demande de soutenance</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">A propos</h3>
                            </div>
                            <div class="box-body">
                                <strong><i class="fa fa-book margin-r-5"></i>Biographie</strong>
                                <p class="text-muted">
                                    {{ mentore.resume }}
                                </p>
                                <hr>
                                <strong><i class="fa fa-map-marker margin-r-5"></i>Emplacement</strong>
                                <p class="text-muted">
                                    {{ mentore.country.libelle }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-pull-2 col-lg-7">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#parcours" data-toggle="tab">Suivi parcours</a></li>
                                <li><a href="#projets" data-toggle="tab">Suivi projets</a></li>
                                <li><a href="#notes" data-toggle="tab">Suivi notes</a></li>
                                <li><a href="#sessions" data-toggle="tab">Suivi sessions</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="active tab-pane" id="parcours">
                                    <!-- Suivi parcours -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                <tr>
                                                    <th>Intitulé du cours</th>
                                                    <th>Status</th>
                                                    {% if is_granted('ROLE_MENTOR') %}
                                                        <th>Modifier</th>
                                                    {% endif %}
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for cours in mentore.suivi.parcours.cours %}
                                                    <tr>
                                                        <td>
                                                            {{ cours.libelle }}
                                                        </td>
                                                        <td>
                                                            {% if cours.status == null %}
                                                                <span class="label label-info">En attente</span>
                                                            {% elseif cours.status == 'En cours' %}
                                                                <span class="label label-warning">{{ cours.status }}</span>
                                                            {% elseif cours.status == 'Terminé' %}
                                                                <span class="label label-success">{{ cours.status }}</span>
                                                            {% endif %}
                                                        </td>
                                                        {% if is_granted('ROLE_MENTOR') %}
                                                            <td>
                                                                <a href="{{ path('update_status_courses', {'id': cours.id}) }}"><span class="ion ion-wrench"></span></a>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="projets">
                                    <!-- Suivi projets -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                <tr>
                                                    <th>Intitulé du projet</th>
                                                    <th>Status</th>
                                                    {% if is_granted('ROLE_MENTOR') %}
                                                        <th>Modifier</th>
                                                    {% endif %}
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for projets in mentore.suivi.parcours.projet %}
                                                    <tr>
                                                        <td>
                                                            {{ projets.libelle }}
                                                        </td>
                                                        <td>
                                                            {% if projets.status == null %}
                                                                <span class="label label-info">En attente</span>
                                                            {% elseif projets.status == 'En cours' %}
                                                                <span class="label label-warning">{{ projets.status }}</span>
                                                            {% elseif projets.status == 'Validé' %}
                                                                <span class="label label-">{{ projets.status }}</span>
                                                            {% elseif projets.status == 'Terminé' %}
                                                                <span class="label label-success">{{ projets.status }}</span>
                                                            {% elseif projets.status == 'Soutenu' %}
                                                                <span class="label label-success">{{ projets.status }}</span>
                                                            {% elseif projets.status == 'En retard' %}
                                                                <span class="label label-danger">{{ projets.status }}</span>
                                                            {% endif %}
                                                        </td>
                                                        {% if is_granted('ROLE_MENTOR') %}
                                                            <td>
                                                                <a href="{{ path('update_status_project', {'id': projets.id}) }}"><span class="ion ion-wrench"></span></a>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="notes">
                                    <!-- Suivi notes -->
                                    <ul class="timeline timeline-inverse">
                                        {% for notes in mentore.suivi.notes|reverse %}
                                            <li class="time-label">
                            <span class="bg-red">
                                {{ notes.dateCreated|date('d-m-Y', 'Europe/Paris') }}
                            </span>
                                            </li>
                                            <li>
                                                <i class="ion ion-document bg-yellow"></i>
                                                <div class="timeline-item">
                                                    <div class="timeline-header">
                                                        <a href="{{ path('show_details_mentor', {'id': notes.auteur.id}) }}">
                                                            {{ notes.auteur.lastname }} {{ notes.auteur.firstname }}
                                                        </a>
                                                        a laissé une note :
                                                    </div>
                                                    <div class="timeline-body">
                                                        {{ notes.libelle }}
                                                    </div>
                                                    <div class="timeline-footer">

                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="tab-pane" id="sessions">
                                    <!-- Suivi sessions -->
                                    <ul class="timeline timeline-inverse">
                                        {% for sessions in mentore.sessions|reverse %}
                                            <li class="time-label">
                                <span class="bg-red">
                                    {{ sessions.dateSession|date('d-m-Y') }}
                                </span>
                                            </li>
                                            <li>
                                                <i class="ion ion-clock bg-yellow"></i>
                                                <div class="timeline-item">
                                                    <h3 class="timeline-header">
                                                        <a href="{{ path('show_details_mentor', {'id': sessions.mentor.id}) }}">
                                                            {{ sessions.mentor.firstname }} {{ sessions.mentor.lastname }}
                                                        </a>
                                                        a planifié une session
                                                    </h3>
                                                    <div class="timeline-body">
                                                        <strong>
                                                            {{ sessions.libelle }}
                                                        </strong>
                                                        <br />
                                                    </div>
                                                    <div class="timeline-footer">
                                                        {% if sessions.status == 'Planifiee' %}
                                                            Statut : <span class="label label-warning">{{ sessions.status }}</span>
                                                        {% elseif sessions.status == 'Present' %}
                                                            Statut : <span class="label label-success">{{ sessions.status }}</span>
                                                        {% elseif sessions.status == 'Absent' %}
                                                            Statut : <span class="label label-danger">{{ sessions.status }}</span>
                                                        {% elseif sessions.status == 'Annulee' %}
                                                            Statut : <span class="label label-danger">{{ sessions.status }}</span>
                                                        {% elseif sessions.status == 'No Show' %}
                                                            Statut : <span class="label label-danger">{{ sessions.status }}</span>
                                                        {% endif %}
                                                        <br />
                                                        <br />
                                                        {% if sessions.mentor == app.user %}
                                                            <a href="#" class="fa fa-cog"></a>
                                                            <a href="#" class="fa fa-edit"></a>
                                                            <a href="#" class="fa fa-check"></a>
                                                            <a href="#" class="fa fa-times"></a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <br />
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>

    {% include ':Form:register_notes.html.twig' %}

    {% include ':Form:register_sessions.html.twig' %}

    {% include ':MentoratBundle/Form:update_cours.html.twig' %}

    {% include ':Form/Parcours:ask_soutenance.html.twig' %}

{% endblock %}
