{% extends 'layout_mentor.html.twig' %}

{% block title %} - {{ mentor.lastname }} {{ mentor.firstname }}{% endblock %}

{% block body %}

    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i>Information</h4>
            {{ message }}
        </div>
    {% endfor %}

    {% if(app.user.available == false) %}
        <div class="col-md-12">
            <div class="alert alert-info">Vous êtes actuellement indisponible, vous ne pouvez donc pas avoir de soutenances, voire de nouveaux mentorés. Lorsque vous serez
                de nouveau disponible, cliquez sur le bouton "Me rendre disponible" ! A bientôt !</div>
        </div>
    {% endif %}
    <div class="row">

        {% include ':Elements/Box/Teacher/Profile:show_header.html.twig' %}

        <div class="col-sm-8 col-md-7 col-lg-7">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">Activités récentes</a></li>
                    <li><a href="#student" data-toggle="tab">Suivi Elèves</a></li>
                    {% if app.user.id == mentor.id %}
                        <li><a href="#sessions" data-toggle="tab">Suivi sessions</a></li>
                        <li><a href="#facturation" data-toggle="tab">Suivi facturation</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or app.user == mentor.id %}
                        <li><a href="#settings" data-toggle="tab">Options</a></li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                        <div class="post">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" src="{{ asset('img/avatars/user-default.png') }}" alt="user image">
                                <span class="username">
                                    <a href="#">{{ mentor.firstname }} {{ mentor.lastname }}</a>
                                </span>
                                <span class="description">Shared publicly - 7:30 PM today</span>
                            </div>
                            <p>
                                Lorem ipsum represents a long-held tradition for designers,
                                typographers and the like. Some people hate it and argue for
                                its demise, but others ignore the hate as they create awesome
                                tools to help create filler text for everyone from bacon lovers
                                to Charlie Sheen fans.
                            </p>
                        </div>
                    </div>

                    {% include ':Elements/Box/Teacher/Profile:show_student.html.twig' %}

                    {% if app.user.id == mentor.id %}

                        {% include ':Elements/Box/Teacher/Profile:show_sessions.html.twig' %}

                        {% include ':Elements/Box/Teacher/Profile:show_facturation.html.twig' %}

                        {% include ':Elements/Box/Teacher/Profile:show_settings.html.twig' %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% include ':Form/Contact:register_mentor_contact.html.twig' %}

{% endblock %}
