{% extends ':Layout:administration.html.twig' %}

{% block title %} - Mise à jour{% endblock %}

{% block admin_body %}
    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i>Information</h4>
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-xs-12 col-md-offset-4 col-md-4">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <h3 class="profile-username text-center">Modifier un mentore</h3>
                    {{ form_start(mentore) }}
                    <div class="input-group">
                        {{ form_errors(mentore.firstname) }}
                        {{ form_label(mentore.firstname, 'Prénom') }}
                        {{ form_widget(mentore.firstname, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                        {{ form_errors(mentore.lastname) }}
                        {{ form_label(mentore.lastname, 'Nom') }}
                        {{ form_widget(mentore.lastname, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                        {{ form_errors(mentore.email) }}
                        {{ form_label(mentore.email, 'Adresse mail') }}
                        {{ form_widget(mentore.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                        {{ form_errors(mentore.phone) }}
                        {{ form_label(mentore.phone, 'Téléphone') }}
                        {{ form_widget(mentore.phone, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                        {{ form_errors(mentore.address) }}
                        {{ form_label(mentore.address, 'Adresse') }}
                        {{ form_widget(mentore.address, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                        {{ form_errors(mentore.zipcode) }}
                        {{ form_label(mentore.zipcode, 'Code Postal') }}
                        {{ form_widget(mentore.zipcode, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                        {{ form_errors(mentore.city) }}
                        {{ form_label(mentore.city, 'Ville') }}
                        {{ form_widget(mentore.city, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                        {{ form_errors(mentore.country) }}
                        {{ form_label(mentore.country, 'Pays') }}
                        {{ form_widget(mentore.country, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                        {{ form_errors(mentore.resume) }}
                        {{ form_label(mentore.resume, 'Biographie') }}
                        {{ form_widget(mentore.resume, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <hr />
                    <div class="input-group">
                        {{ form_errors(mentore.date_start) }}
                        {{ form_label(mentore.date_start, 'Date de commencement') }}
                        {{ form_widget(mentore.date_start, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <hr />
                    <div class="input-group">
                        {{ form_errors(mentore.financement) }}
                        {{ form_label(mentore.financement, 'Financé') }}
                        {{ form_widget(mentore.financement, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                        {{ form_errors(mentore.financeur) }}
                        {{ form_label(mentore.financeur, 'Nom du financeur') }}
                        {{ form_widget(mentore.financeur, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                        {{ form_errors(mentore.duree_financement) }}
                        {{ form_label(mentore.duree_financement, 'Durée de financement') }}
                        {{ form_widget(mentore.duree_financement, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <hr />
                    <div class="input-group">
                        {{ form_errors(mentore.status) }}
                        {{ form_label(mentore.status, 'Statut') }}
                        {{ form_widget(mentore.status, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                        {{ form_errors(mentore.suivi.mentor) }}
                        {{ form_label(mentore.suivi.mentor, 'Mentor') }}
                        {{ form_widget(mentore.suivi.mentor, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                        {{ form_errors(mentore.suivi.state) }}
                        {{ form_label(mentore.suivi.state, 'Statut du suivi') }}
                        {{ form_widget(mentore.suivi.state, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                        {{ form_errors(mentore.suivi.parcours) }}
                        {{ form_label(mentore.suivi.parcours, 'Parcours :') }}
                        {{ form_widget(mentore.suivi.parcours, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <br />
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                    {{ form_end(mentore) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}