{% extends ':Layout:administration.html.twig' %}

{% block title %} - Mise à jour{% endblock %}

{% block admin_body %}

    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i>Information</h4>
            {{ message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-xs-12 col-md-offset-4 col-md-4">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <h3 class="profile-username text-center">Modifier une soutenance</h3>
                    {{ form_start(soutenance) }}
                    <div class="input-group">
                        {{ form_errors(soutenance.mentor) }}
                        {{ form_label(soutenance.mentor, 'Mentor :')}}
                        {{ form_widget(soutenance.mentor, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                        {{ form_errors(soutenance.mentore) }}
                        {{ form_label(soutenance.mentore, 'Elève :')}}
                        {{ form_widget(soutenance.mentore, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                        {{ form_errors(soutenance.projet) }}
                        {{ form_label(soutenance.projet, 'Projet :')}}
                        {{ form_widget(soutenance.projet, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group">
                        {{ form_errors(soutenance.status) }}
                        {{ form_label(soutenance.status, 'Statut :')}}
                        {{ form_widget(soutenance.status, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                    {{ form_end(soutenance) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}