{% extends ':Layout:admin.html.twig' %}

{% block title %} - {{ parcours.libelle }}{% endblock %}

{% block admin_body %}
    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i>Information</h4>
            {{ message }}
        </div>
    {% endfor %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <h3 class="profile-username text-center"><p>{{ parcours.libelle }}</p></h3>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Nombre d'élève ayant choisi ce parcours</b> <a class="pull-right">30 000</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Diplôme : </b> <p class="pull-right">{{ parcours.diplome }}</p>
                                </li>
                                <li class="list-group-item">
                                    <b>Résumé :</b>
                                    <p class="pull-right"></p>
                                </li>
                                <li class="list-group-item">
                                    <b>Technologies utilisées :</b>
                                    <p class="pull-right"></p>
                                </li>
                            </ul>
                            <a href="#" data-toggle="modal" data-target="#myModalCours" class="btn btn-warning btn-block"><b>Ajouter un cours</b></a>
                            <a href="#" data-toggle="modal" data-target="#myModalProjet" class="btn btn-warning btn-block"><b>Ajouter un projet</b></a>
                        </div>
                    </div>
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <h3 class="profile-username text-center"><p>Liste des cours</p></h3>
                            <ul class="list-group list-group-unbordered">
                                <!-- Liste des cours -->
                                {% for coursP in coursP %}
                                    <li class="list-group-item">
                                        <b>{{ coursP.libelle }}</b>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <h3 class="profile-username text-center"><p>Liste des projets</p></h3>
                            <ul class="list-group list-group-unbordered">
                                <!-- Liste des projets -->
                                {% for projets in projets %}
                                    <li class="list-group-item">
                                        <b>{{ projets.libelle }}</b> <a href="#" class="pull-right" data-toggle="modal" data-target="#myModalCompetences">Ajouter des compétences</a>
                                        {% for competence in competence %}
                                            <ul>
                                                <li>{{ competence.libelle }}</li>
                                            </ul>
                                        {% endfor %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include ':Form:register_cours.html.twig' %}

    {% include ':Form:register_project.html.twig' %}

    {% include ':Form:register_competences.html.twig' %}

{% endblock %}