{% extends ':BackBundle/Layout:admin.html.twig' %}

{% block title %} - {{ parcours.libelle }}{% endblock %}

{% block admin_body %}
    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i>Information</h4>
            {{ message }}
        </div>
    {% endfor %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <h3 class="profile-username text-center"><p>{{ parcours.libelle }}</p></h3>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Nombre d'élève ayant choisi ce parcours</b> <a class="pull-right">{{ parcours.suivi|length }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Diplôme : </b> <p class="pull-right">{{ parcours.diplome }}</p>
                                </li>
                                <li class="list-group-item">
                                    <b>Résumé :</b>
                                    <p class="pull-right"></p>
                                </li>
                                <li class="list-group-item">
                                    <b>Technologies utilisées :</b>
                                    <p class="pull-right"></p>
                                </li>
                            </ul>
                            <a href="#" data-toggle="modal" data-target="#myModalCours" class="btn btn-warning btn-block"><b>Ajouter un cours</b></a>
                            <a href="#" data-toggle="modal" data-target="#myModalProjet" class="btn btn-warning btn-block"><b>Ajouter un projet</b></a>
                        </div>
                    </div>
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <h3 class="profile-username text-center"><p>Liste des cours</p></h3>
                            <div class="table-responsive">
                                <table class="table no-margin">
                                    <thead>
                                    <tr>
                                        <th>Intitulé du cours</th>
                                        <th>Durée</th>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <th>Modifier</th>
                                            <th>Supprimer</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for coursP in coursP %}
                                        <tr>
                                            <td>
                                                {{ coursP.libelle }}
                                            </td>
                                            <td>
                                                {{ coursP.duree }}
                                            </td>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <td>
                                                    <a href="{{ path('update_status_courses', {'id': coursP.id}) }}"><span class="ion ion-wrench"></span></a>
                                                </td>
                                                <td>
                                                    <a href="{{ path('update_status_courses', {'id': coursP.id}) }}"><span class="ion ion-trash-b"></span></a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <h3 class="profile-username text-center"><p>Liste des projets</p></h3>
                            <div class="table-responsive">
                                <table class="table no-margin">
                                    <thead>
                                    <tr>
                                        <th>Intitulé du projets</th>
                                        <th>Durée</th>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <th>Modifier</th>
                                            <th>Supprimer</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for projets in projets %}
                                        <tr>
                                            <td>
                                                {{ projets.libelle }}
                                            </td>
                                            <td>
                                                {{ projets.duree }}
                                            </td>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <td>
                                                    <a href="{{ path('update_status_courses', {'id': projets.id}) }}"><span class="ion ion-wrench"></span></a>
                                                </td>
                                                <td>
                                                    <a href="{{ path('update_status_courses', {'id': projets.id}) }}"><span class="ion ion-trash-b"></span></a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include ':Form:register_cours.html.twig' %}

    {% include ':Form:register_project.html.twig' %}

    {% include ':Form:register_competences.html.twig' %}

{% endblock %}