{% if sessions.status == 'Planifiee' %}
    Statut : <span class="label label-warning">{{ sessions.status }}</span>
{% elseif sessions.status == 'Present' %}
    Statut : <span class="label label-success">{{ sessions.status }}</span>
{% elseif sessions.status == 'Absent' %}
    Statut : <span class="label label-danger">{{ sessions.status }}</span>
{% elseif sessions.status == 'Annulee' %}
    Statut : <span class="label label-danger">{{ sessions.status }}</span>
{% elseif sessions.status == 'No Show' %}
    Statut : <span class="label label-danger">{{ sessions.status }}</span>
{% endif %}