{% if mentores.mentoreStatus == 'En formation' %}
    <span class="label label-success">{{ mentores.mentoreStatus }}</span>
{% elseif mentores.mentoreStatus == 'Contacté' %}
    <span class="label label-warning">{{ mentores.mentoreStatus }}</span>
{% elseif mentores.mentoreStatus == 'En pause' %}
    <span class="label label-danger">{{ mentores.mentoreStatus }}</span>
{% elseif mentores.mentoreStatus == 'En attente' %}
    <span class="label label-warning">{{ mentores.mentoreStatus }}</span>
{% elseif mentores.mentoreStatus == 'Formation terminé' %}
    <span class="label label-success">{{ mentores.mentoreStatus }}</span>
{% endif %}
